<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>
      <ul><% @document.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :code %><%= f.text_field :code %>
      <%= f.label "Date" %><%= f.date_select :docdate %>
      <%= f.label "Location" %><%= f.collection_select(:location_id, Location.order(:name), :id, :name, prompt: true) %>
  </div>
  <div class="field"><%= f.text_area :comment, placeholder: "Comment" %></div>
  <div class="actions"><%= f.submit %></div>
  
  <hr>
 
  <%= f.fields_for :lines, :html => { :class => 'form-horizontal' } do |line| %>
    <%= render 'line_fields', f: line %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'Add Line', f, :lines, id: "button" %>
  </div>

<% end %>