<h1>Listing Documents</h1>

<table>
  <thead>
    <tr>
      <th class="col-md-2">Code</th>
      <th class="col-md-2">Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td class="col-md-2"><%= document.code %></td>
        <td class="col-md-2"><%= document.docdate %></td>
        <td><%= link_to 'Edit', edit_document_path(document) %></td>
        <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_path %>
