<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @document.code %>
</p>

<p>
  <strong>Docdate:</strong>
  <%= @document.docdate %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @document.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @document.user %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
