<h1>ITEM: <%= params[:item_code] %> <%= @item.description %> LOCATION: <%= @location.name.upcase %></h1>

<table>
  <thead>
    <tr>
      <th class="col-md-2">Document</th>
      <th class="col-md-1 right">Qty New</th>
      <th class="col-md-1 right">Qty Used</th>
      <th class="col-md-1 right">Total</th>
    </tr>
  </thead>

  <tfoot class="totals">
    <% @totals.each do |t| %>
      <tr>
        <td class="col-md-2">TOTAL</td>
        <td class="col-md-1 right"><%= t.qtynew %></td>
        <td class="col-md-1 right"><%= t.qtyused %></td>
        <td class="col-md-1 right"><%= t.total %></td>
      </tr>
    <% end %>
  </tfoot>

  <tbody>
    <% @history.each do |h| %>
      <tr>
        <td class="col-md-2"><%= h.code %></td>
        <td class="col-md-1 right"><%= h.qtynew %></td>
        <td class="col-md-1 right"><%= h.qtyused %></td>
        <td class="col-md-1 right"><%= h.total %></td>
      </tr>
    <% end %>
  </tbody>

</table>