<h1>STOCK AT <%= @location.name.upcase %></h1>

<table>
  <thead>
    <tr>
      <th class="col-md-2">Code</th>
      <th class="col-md-4">Description</th>
      <th class="col-md-1">New</th>
      <th class="col-md-1">Used</th>
      <th class="col-md-1">Total</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td class="col-md-2"><%= link_to item.code, history_path(@location.id,item.code) %></td>
        <td class="col-md-4"><%= item.description %></td>
        <td class="col-md-1"><%= item.qtynew %></td>
        <td class="col-md-1"><%= item.qtyused %></td>
        <td class="col-md-1"><%= item.total %></td>
        <td class="col-md-1"><%= link_to 'PDF', hpdf_path(@location.id,item.code) %></td>
      </tr>
    <% end %>
  </tbody>
</table>