<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Jura', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <header>
    <div class="wrapper clearfix">
      <div id="logo">
        <%= link_to "MK WAREHOUSE STOCK", root_path %>
      </div>
      <nav>
        <%= link_to "LOCATION", locations_path %>
        <%= link_to "ITEM", items_path %>
        <%= link_to "DOCUMENT", documents_path %>
        <% if user_signed_in? %>
          <%= link_to('EDIT USER', edit_user_registration_path) %>
          <%= link_to('LOG OUT', destroy_user_session_path, :method => :delete) %>        
        <% else %>
          <%= link_to('LOG IN', new_user_session_path)  %>
        <% end %>
        <% if current_user.try(:admin?) %>
          <%= link_to "ADMIN", users_path %>
        <% end %>
      </nav>
    </div>
  </header>
  <% unless notice.nil? %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% unless alert.nil? %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <div class="wrapper">
    <%= yield %>
  </div>
  </div>
</body>
</html>
